<div class="row">
	<h1 class="titulos"> <center>Manejo de productos</center></h1>
	<hr class="color_rayas">
	<div class="col-lg-12">
		<ul id="myTab" class="nav nav2 nav-tabs nav-justified">
			<li class="active"><a data-target="#agregarProduct" data-toggle="tab">Agregar Producto</a>
			</li>
			<li class=""><a class="btn" data-target="#modificarProduct" ng-click="getFetch()" data-toggle="tab">Modificar Producto</a>
			</li>
		</ul>
		<div id="mensage" class="modal fade" role="dialog">
			<div class="modal-dialog modal-lg">
				<div class="modal-content">
					<div class="modal-header">
						<button type="button" class="close" data-dismiss="modal">&times;</button>
						<h4 class="modal-title">Control de Eliminacion</h4>
					</div>
					<div class="modal-body">
						<center>
							Agregado exitosamente
							Espere un momento  para actualizar  la tabla
							<br>
							<button type="button" class="btn btn-danger caja" data-dismiss="modal">Aceptar</button>
						</center>
					</div>
				</div>
			</div>
		</div>


		<div id="myTabContent" class="tab-content">
			<div class="tab-pane fade active in" id="agregarProduct">
				<hr>
				<div class="row">
					<div class="col-md-6 " >
						<table id="tabla_color" class="table table-bordered table-hover">
							<tr class="tabla_color_encabesado">
								<td>Descripcion</td>
								<td>Datos</td>
							</tr>
							<tr>
								<td>Nombre</td>
								<td><input type="text"  ng-model="regalo.nombre"></td>
							</tr>
							<tr>
								<td>Descripción</td>
								<td><input type="text"  ng-model="regalo.descripcion"></td>
							</tr>
							<tr>
								<td>Peso</td>
								<td><input type="number" class="texto" ng-model="regalo.peso"></td>
							</tr>
							<tr>
								<td>Destinatario</td>
								<td><input type="text"  ng-model="regalo.destinatario"  ></td>
							</tr>
							<tr>
								<td>
									<form>
										<input type="radio" class="selected" name="tipo" ng-model="regalo.status" value="Pendiente de entrega" checked> Pendiente de entrega
										<br>
										<input type="radio" name="tipo" ng-model="regalo.status" value="Entregado"> Entregado
									</form>
								</td>
							</tr>
							<tr >
								<td colspan="2">
									<button class="btn btn-primary"  data-toggle="modal" data-target="#mensage"  ng-click="postRegalos()">AGREGAR</button>
								</td>
							</tr>

						</table>
					</div>
					<div class="col-md-6 tabla_crear">
						<table id="tabla_color" class="table table-bordered table-hover">
							<tr class="tabla_color_encabesado">
								<td><strong>Nombre</strong></td>
								<td><strong>Descripción</strong></td>
								<td><strong>Peso</strong></td>
								<td><strong>Destinatario</strong></td>
								<td><strong>Status</strong></td>
							</tr>
							<tr ng-repeat="producto in productos">
								<td>{{regalo.nombre}}</td>
								<td>{{regalo.descripcion}}</td>
								<td>{{regalo.peso}}</td>
								<td>{{regalo.destinatario}}</td>
								<td>{{regalo.status}}</td>
							</tr>
						</table>
					</div>
				</div>
			</div>



			

			<div class="tab-pane fade" id="modificarProduct">
				<div id="myModal" class="modal fade" role="dialog">
					<div class="modal-dialog modal-lg">
						<div class="modal-content">
							<div class="modal-header">
								<button type="button" class="close" data-dismiss="modal">&times;</button>
								<h4 class="modal-title">Modificación de Productos</h4>
							</div>
							<div class="modal-body">
								<table id="tabla_color" class="table table-bordered table-hover">
									<tr class="tabla_color_encabesado">
										<td><strong>Datos</strong></td>
										<td><strong>Input</strong></td>
									</tr>
									<tr>
										<td>Nombre</td>
										<td><input type="text"  ng-model="regalo.nombre"></td>
									</tr>
									<tr>
										<td>Descripción</td>
										<td><input type="text"  ng-model="regalo.descripcion"></td>
									</tr>
									<tr>
										<td>Peso</td>
										<td><input type="number" class="texto" ng-model="regalo.peso"></td>
									</tr>
									<tr>
										<td>Destinatario</td>
										<td><input type="text"  ng-model="regalo.destinatario"  ></td>
									</tr>
									<tr>
										<td>
											<form>
												<input type="radio" name="tipo" ng-model="regalo.status" value="Pendiente de entrega" checked> Pendiente de entrega
												<br>
												<input type="radio" name="tipo" ng-model="regalo.status" value="Entregado"> Entregado
											</form>
										</td>
									</tr>

									<tr >
										<td colspan="2">
											<input type="button" class="btn btn-primary caja" value="Modificar" data-dismiss="modal" ng-click="putRegalo()">
											<button type="button" class="btn btn-danger caja" data-dismiss="modal">Cerrar</button>
										</td>
									</tr>
								</table>
							</div>
						</div>
					</div>
				</div>


				<div id="myModal2" class="modal fade" role="dialog">
					<div class="modal-dialog modal-lg">
						<div class="modal-content">
							<div class="modal-header">
								<button type="button" class="close" data-dismiss="modal">&times;</button>
								<h4 class="modal-title">Control de Eliminacion</h4>
							</div>
							<div class="modal-body">
								<center>
									Eliminado exitosamente
									Espere un momento  para actualizar tabla
									<br>
									<button type="button" class="btn btn-danger caja" data-dismiss="modal">Aceptar</button>
								</center>
							</div>
						</div>
					</div>
				</div>

				<hr>
				<div class="row">
					<table  id="tabla_color" class="table table-bordered table-hover">
						<tr class="tabla_color_encabesado">
							<td><strong>Nombre</strong></td>
							<td><strong>Descripción</strong></td>
							<td><strong>Peso</strong></td>
							<td><strong>Destinatario</strong></td>
							<td><strong>Status</strong></td>
						</tr>
						<tr ng-repeat="producto in productos">
							<td>{{regaloM.nombre}}</td>
							<td>{{regaloM.descripcion}}</td>
							<td>{{regaloM.peso}}</td>
							<td>{{regaloM.destinatario}}</td>
							<td>{{regaloM.status}}</td>
							<td> 
								<input type="button" class="btn btn-primary caja" value="Modificar" data-toggle="modal" data-target="#myModal" ng-click="ponerModRegalo(regaloM)"> 
								<input type="button" class="btn btn-danger caja" value="Eliminar"  data-toggle="modal" data-target="#myModal2" ng-click="delRegalo(regaloM)">
							</td>
						</tr>
					</table>
				</div>
			</div>
		</div>
	</div>
	
</div>